{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row justify-content-center align-items-center" style="min-height: 70vh;">

<div class="col-md-5">
  <div class="card shadow-lg border-0 rounded-4">

    <div class="card-body p-4">

      <h3 class="text-center mb-3">Login to EMS</h3>

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <form method="post">
        {% csrf_token %}

        <div class="mb-3">
          <label>Username</label>
          <input type="text" name="username" class="form-control" required>
        </div>

        <div class="mb-4">
          <label>Password</label>
          <input type="password" name="password" class="form-control" required>
        </div>

        <div class="d-grid mb-3">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>

        <!-- Back to Home -->
        <div class="text-center">
          <a href="{% url 'home' %}" class="text-decoration-none">
            ← Back to Home
          </a>
        </div>

      </form>

    </div>

  </div>
</div>

</div>
</div>

{% endblock %}
