{% extends "employees/base.html" %}
{% block content %}

{% include "components/messages.html" %}

<div class="card shadow-sm">
  <div class="card-body">
    {% if is_update %}
      <h3>Edit Employee</h3>
    {% else %}
      <h3>Add Employee</h3>
    {% endif %}
    <hr>

    <form method="POST" enctype="multipart/form-data" novalidate>
      {% csrf_token %}

      <div class="row g-3">
        <div class="col-md-6">
          <label class="form-label">Name</label>
          {{ form.name }}
        </div>

        <div class="col-md-6">
          <label class="form-label">Email</label>
          {{ form.email }}
        </div>

        <div class="col-md-6">
          <label class="form-label">Phone</label>
          {{ form.phone }}
        </div>

        <div class="col-md-6">
          <label class="form-label">Department</label>
          {{ form.department }}
        </div>

        <div class="col-md-6">
          <label class="form-label">Designation</label>
          {{ form.designation }}
        </div>

        <div class="col-md-6">
          <label class="form-label">DOB</label>
          {{ form.dob }}
        </div>

        <div class="col-md-12">
          <label class="form-label">Address</label>
          {{ form.address }}
        </div>

        <div class="col-md-6">
          <label class="form-label">Photo</label>
          {{ form.photo }}
        </div>


        <div class="col-md-6">
          <label class="form-label">Salary</label>
          {{ form.salary }}
        </div>

        <div class="col-md-6">
          <label class="form-label">Joining Date</label>
          {{ form.joining_date }}
          <div class="text-danger small">{{ form.joining_date.errors }}</div>
        </div>
      </div>

      <div class="mt-4">
        <button class="btn btn-primary">{% if is_update %}Update{% else %}Add{% endif %}</button>
        <a href="/" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
