{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-3">Attendance Records</h3>
    {% if viewer_role == "HR" and d %}
    <a href="{% url 'mark_attendance_by_hr' d %}" class="btn btn-primary">Mark Attendance</a>
    {% else %}
    <a href="{% url 'mark_attendance_by_employee' %}" class="btn btn-primary">Mark Attendance</a>
    {% endif %}
</div>

<div class="card shadow-sm">
  <div class="card-body">
    <input id="globalSearch" class="form-control mb-3" placeholder="Search your entries...">
    {% include "components/LiveSearch.html" %}

    {% if attendance_records %}
      <div class="table-responsive">
        <table class="table table-hover align-middle" id="AttendanceTable">
          <thead class="table-dark">
            <tr>
              <th>Employee</th>
              <th>Department</th>
              <th>Date</th>
              <th>Status</th>
              <th>Check In</th>
              <th>Check Out</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            {% for r in attendance_records %}
              <tr>
                <td>{{ r.employee.name|default:r.employee }}</td>
                <td>{{ r.employee.department}}</td>
                <td>{{ r.date|date:"M d, Y" }}</td>
                <td>
                  {% if r.status == "Present" %}
                    <span class="badge bg-success">Present</span>
                  {% elif r.status == "Leave" %}
                    <span class="badge bg-danger">Leave</span>
                  {% else %}
                    <span class="badge bg-warning text-dark">Not marked</span>
                  {% endif %}
                </td>
                <td>{{ r.check_in|default:"-" }}</td>
                <td>{{ r.check_out|default:"-" }}</td>
                <td>{{ r.remarks|default:"-" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% include "components/TableControls.html" with table_id="AttendanceTable" %}

    {% else %}
      <p class="text-muted mb-0">No attendance records yet.</p>
    {% endif %}
  </div>
</div>

<script>
initTableControls("AttendanceTable", 5);
</script>

{% endblock %}